<div>
	<div class="modal-header">
		<h3>Atualizar Senha!</h3>
	</div>
	<form ng-submit="submit()">
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12">
				    <label for="oldPass">Senha Antiga:</label>
				    <input type="password" class="form-control"	id="oldPass" ng-model="senha.senhaAntiga"
				    	placeholder="Informe sua senha atual" popover-trigger="focus" popover-title="Aviso"
						popover="Caso n&atilde;o tenha uma senha definida, deixar em  branco!"/>
			  	</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
				    <label for="newPass">Nova Senha:</label>
				    <input type="password" class="form-control"	id="newPass" ng-model="senha.novaSenha"
				    	placeholder="Informe a nova senha" required/>
			  	</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<label for="confNewPass">Confirmar Nova Senha:</label>
				    <input type="password" class="form-control"	id="confNewPass" ng-model="senha.confirmarsenha"
				    	placeholder="Informe novamente a senha para confirmação" required/>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-ng-click="atualizar()">Atualizar</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
		</div>
	</form>
</div>