<!-- Pagina de busca -->
<div class="bg-one">
	<div class="container well text-justify" style="margin-top: 15px; width: 99%;">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<div class="row"> <!-- TODO código duplicado no arquivo home.html. Verificar como resolver duplicacao. -->
							<div class="col-md-3">
								<input type="text" data-ng-model="tipoServico" typeahead="tipo.nome for tipo in tiposServicos | filter:$viewValue | limitTo:8" class="form-control input-sm" placeholder="Serviço" required>
							</div>
							<div class="col-md-5">
								<input id="endereco" type="text" class="form-control input-sm"
									placeholder="{{labels.endereco}}" data-ng-model="endereco"
									googleplace>
							</div>
							<div class="col-md-2">
								<select id="raio" class="form-control input-sm" data-ng-model="raio">
									<option value="" disabled selected>Distância máx.</option>
									<option value="1">1KM</option>
									<option value="2">2KM</option>
									<option value="5">5KM</option>
									<option value="10">10KM</option>
									<option value="50">50KM</option>
								</select>
							</div>
							<div class="col-md-2">
								<button class='btn btn-success form-control input-sm'
									data-ng-click="getPesquisadores()">
									<span class="glyphicon glyphicon-search"></span>
									{{labels.buscar}}
								</button>
							</div>
						</div>
					</div>
					<div class="panel-body" style="padding: 0;">
						<!-- this is the confusing part. we have to point the map marker directive
						  at an existing google.maps.Marker object, so it can hook up events -->
						<div ng-repeat="marker in myMarkers" ui-map-marker="marker"
						  ui-event="{'map-click': 'openMarkerInfo(marker)'}">
						</div>
						<div ui-map-info-window="myInfoWindow" style="max-width: 200px;">
							<div data-ng-hide="currentMarkerIsService">
								{{endereco}}
							</div>
							<div data-ng-show="currentMarkerIsService">
								<p>
									{{currentMarker.servico.prestador.nome}}
									<a href data-ng-click="exibirDetalhesServico(currentMarker.servico)">
										(Ver detalhes)
									</a>
									<br>
									{{currentMarker.servico.prestador.email}} - {{currentMarker.servico.prestador.telefone}}
									<br>
								</p>
								<p>
									<span data-ng-show="currentMarker.servico.tipoServico.valorado"><strong>R$ {{currentMarker.servico.valor}}</strong></span>
								</p>
							</div>
						</div>

						<div id="map_canvas" ui-map="sosMap" ui-options="mapOptions"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<span class="panel-title pull-left" style="paddidata-ng-top: 7.5px;">
							{{labels.prestadores_encontrados}} 
							<span class="badge">{{servicos.length}}</span>
						</span>
						<!-- Split button -->
						<div class="btn-group pull-right" dropdown>
							<button type="button" class="btn btn-info dropdown-toggle">
								<span class="glyphicon glyphicon-sm glyphicon-cog"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation" class="dropdown-header"><span
									class="glyphicon glyphicon-sort small" /></li>
								<li><a href data-ng-click="orderBy('prestador.nota')" class="small">Avaliação
										<span class="glyphicon glyphicon-sort-by-attributes" />
								</a></li>
								<li><a href data-ng-click="orderBy('-prestador.nota')" class="small">Avaliação
										<span class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a></li>
								<li><a href data-ng-click="orderBy('prestador.nome')" class="small">Nome
										<span class="glyphicon glyphicon-sort-by-alphabet" />
								</a></li>
								<li><a href data-ng-click="orderBy('-prestador.nome')" class="small">Nome
										<span class="glyphicon glyphicon-sort-by-alphabet-alt" />
								</a></li>
								<li role="presentation" class="divider"></li>
								<li><a href="#" class="small">Separated link</a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body">
						<!--Prestadores de servico encontrados-->
						<div class="form-group">
							<div class="right-inner-addon ">
								<span class="glyphicon glyphicon-filter text-muted"></span> 
								<input type="search" data-ng-model="query" class="form-control input-sm" id="filtro"
									placeholder="{{labels.filtrar_resultado}}" />
							</div>
						</div>

						<div class="list-group">
							<span class="list-group-item"
								data-ng-repeat="servico in servicos | filter:query | orderBy:orderProp">
								<div class="row">
									<div class="col-md-9">
										<a href ng-click="openMarkerInfo(myMarkers[servico.markerIndex])">
											<h4 class="list-group-item-heading">{{servico.prestador.nome}}</h4> 
										</a>
										<rating data-ng-model="servico.prestador.nota" max="maxRate" readonly="true"></rating> (<a href ng-click="exibirAvaliacoes(myMarkers[servico.markerIndex])">Ver avaliações</a>)
									</div>
									<div class="col-md-3">
										<img data-ng-hide="servico.prestador.facebookId" src="img/profile.png" width="50" height="50" alt="{{servico.prestador.nome}}" class="img-thumbnail">
										<img data-ng-show="servico.prestador.facebookId" src="http://graph.facebook.com/{{servico.prestador.facebookId}}/picture?type=square" width="50" height="50" alt="{{servico.prestador.nome}}" class="img-thumbnail">
									</div>
								</div>
								<p class="list-group-item-text small">{{servico.prestador.endereco.logradouro}}, 
								    {{servico.prestador.endereco.numero}}
									{{servico.prestador.endereco.complemento}},
									{{servico.prestador.endereco.cidade}}, {{servico.prestador.endereco.estado}} - 
									{{servico.prestador.endereco.cep}}</p>
								<p class="list-group-item-text small">{{servico.prestador.email}}</p>
								<p class="list-group-item-text small">{{servico.prestador.telefone}}</p>
							</span>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>