<div>
	<div class="modal-header">
		<h3>Cadastre-se no SoS, e torne sua vida mais f&aacute;cil!</h3>
	</div>
	<form ng-submit="submit()">
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-7">
					<label>Nome Completo:</label><br> <input type="text" class="form-control"
						ng-model="user.nome" required /><br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-5">
					<label>Email:</label><br> <input type="email" class="form-control"
						ng-model="user.email" required /><br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-5">
					<label>Senha:</label><br> <input type="password" class="form-control"
						ng-model="user.senha" required /><br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-5">
					<label>Confirmar Senha:</label><br> <input type="password" class="form-control"
						ng-model="user.confirmarsenha" required />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-ng-click="cadastrar()">Cadastrar</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
		</div>
	</form>
</div>