<!-- Pagina de busca -->
<div class="bg-one">
	<div class="container well text-justify" style="margin-top: 15px; width: 99%;">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<span class="panel-title pull-left" style="paddidata-ng-top: 7.5px;">
							<strong>Informa&ccedil;&otilde;s do Prestador</strong>
						</span>
					</div>
					<div class="panel-body">
					<div class="col-md-10">
						<div class="form-group">
					      	<label class="col-sm-2 control-label">Nome:</label>
					      	{{prestador.nome}}
					    </div>
					    <div class="form-group">
					      	<label class="col-sm-2 control-label">Endere&ccedil;o:</label>
					      	{{prestador.endereco.logradouro}}
							{{prestador.endereco.complemento}},
							{{prestador.endereco.cidade}}, {{prestador.endereco.estado}} -
							{{prestador.endereco.cep}}
					    </div>
						<div class="form-group">
					      	<label class="col-sm-2 control-label">E-mail:</label>
					      	{{prestador.email}}
					    </div>
						<div class="form-group">
					      	<label class="col-sm-2 control-label">Telefone:</label>
					      	{{prestador.telefone}}
					    </div>				
				    </div>	 
				    <div class="col-md-2">
						<img data-ng-hide="prestador.facebookId" src="img/profile.png" width="80" height="80" alt="{{prestador.nome}}" class="img-thumbnail">
						<img data-ng-show="prestador.facebookId" src="http://graph.facebook.com/{{prestador.facebookId}}/picture?type=square" width="80" height="80" alt="{{prestador.nome}}" class="img-thumbnail">							
					</div>   
					</div>
					
				</div>
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<span class="panel-title pull-left" style="paddidata-ng-top: 7.5px;">
							<strong>Servi&ccedil;os do Prestador</strong>
						</span>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<span class="list-group-item"
								data-ng-repeat="servico in servicos | orderBy:id">
								<p>
									<strong>{{servico.tipoServico.nome}}</strong>
									<a href="#/servico/{{servico.id}}" tooltip="Tire suas d&utilde;vidas sobre o servi&ccedil;o">
										<span class="glyphicon glyphicon-question-sign"></span>
									</a>
									<br>
									<span data-ng-show="servico.tipoServico.valorado">
										R$ {{servico.valor}}
									</span>
								</p>
								<p>
									<em>{{servico.descricao}}</em>
								</p>
							</span>
						</div>
					</div>
				</div>
				<div class="panel panel-default" id="avaliacoes">
					<div class="panel-heading clearfix">
						<span class="panel-title pull-left" style="paddidata-ng-top: 7.5px;">
							<strong>Avalia&ccedil;&otilde;es</strong>
						</span>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<span data-ng-show='user.email != prestador.email' class="list-group-item">
								<div class="input-group">
									<div class="input-group-addon">
										<span data-ng-show="user.logado">
											<rating data-ng-model="avaliacao.nota" max="5"></rating>
											<br>
											{{avaliacao.nota}}
										</span>
									</div>

									<textarea class="form-control" rows="2" data-ng-show="user.logado"
										style="resize:none" ng-model="avaliacao.depoimento"
										id="pergunta" placeholder="Avalie {{prestador.nome}}..."></textarea>
									<textarea class="form-control" rows="1" readonly id="pergunta"
										data-ng-hide="user.logado" data-ng-click="openLogin()"
										placeholder="Necessário efetuar o login para avaliar {{prestador.nome}}..."></textarea>
									<a href class="input-group-addon" style="text-decoration: none" data-ng-show="user.logado" data-ng-click="enviarAvaliacao()">
										Enviar Avalia&ccedil;&atilde;o
									</a>
							    </div>
							    <div data-ng-show="mensagem != '' && !mensagemWarn">
							    	<p class="bg-success">{{mensagem}}</p>
							    </div>
							    <div data-ng-show="mensagem != '' && mensagemWarn">
							    	<p class="bg-warning">{{mensagem}}</p>
							    </div>
							</span>
							<span class="list-group-item"
								data-ng-repeat="avaliacao in avaliacoes | orderBy:depoimento">
								<span>
									<div class="row">
										<div class="col-md-12">
											<p>
												<img data-ng-hide="avaliacao.usuarioAvaliador.facebookId" src="img/profile.png" width="50" height="50" alt="{{avaliacao.usuarioAvaliador.nome}}" class="thumbnail" style="float: right;">
												<img data-ng-show="avaliacao.usuarioAvaliador.facebookId" src="http://graph.facebook.com/{{avaliacao.usuarioAvaliador.facebookId}}/picture?type=square" width="50" height="50" alt="{{avaliacao.usuarioAvaliador.nome}}" class="thumbnail" style="float: right;">
												<span>
													<strong>{{avaliacao.usuarioAvaliador.nome}}</strong>
													<br>
													<rating data-ng-model="avaliacao.nota" max="5" readonly="true"></rating>
												</span>
											</p>
											<p><em>{{avaliacao.depoimento}}</em><p>
										</div>
									</div>
								</span>
								<blockquote data-ng-show="avaliacao.replica">
									<span style="font-size: 10pt;">
										<p>
											<span class="glyphicon glyphicon-sm glyphicon-comment"></span>
											<strong>{{prestador.nome}}</strong><br>								
											<em>{{avaliacao.replica}}</em>
										</p>
									</span>
								</blockquote>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body" style="padding: 0;" data-ng-show="mapOptions != ''">
						<div ui-map-marker="marker"></div>

						<div id="map_canvas" ui-map="map" ui-options="mapOptions"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>