<!-- Pagina de busca -->
<div class="bg-one">
	<div class="container well text-justify" style="margin-top: 15px; width: 99%;">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<span class="panel-title pull-left" style="paddidata-ng-top: 7.5px;">
							<strong>Detalhes do Servi&ccedil;o</strong>
						</span>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">Servi&ccedil;o:</label>
							{{servico.tipoServico.nome}}
					    </div>
					    <div class="form-group" data-ng-show="servico.tipoServico.valorado">
						      <label class="col-sm-2 control-label">Valor:</label>
						      R$ {{servico.valor}}
					    </div>
					    <div class="form-group">
					      	<label class="col-sm-2 control-label">Descri&ccedil;&atilde;o:</label>
					      	{{servico.descricao}}
					    </div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<span class="panel-title pull-left" style="paddidata-ng-top: 7.5px;">
							<strong>Informa&ccedil;&otilde;s do Prestador</strong>
						</span>
					</div>
					<div class="panel-body">
						<div class="col-md-10">
							<div class="form-group">
						      	<label class="col-sm-2 control-label">Nome:</label>
						      	{{servico.prestador.nome}}
						    </div>
							<div class="form-group">
						      	<label class="col-sm-2 control-label">Reputa&ccedil;&atilde;o:</label>
						      	<span data-ng-show="servico.prestador.nota">
						      		<rating data-ng-model="servico.prestador.nota" max="5" readonly="true"></rating>
						      		(<a href ng-click="openAvaliacoes()">Ver avalia&ccedil;&otilde;es</a>
						      		 / <a href="#/prestador/{{servico.prestador.email}}">Avaliar</a>)
						      	</span>
						      	<span data-ng-hide="servico.prestador.nota">
						      		<em>O prestador ainda n&atilde;o possui avalia&ccedil;&otilde;es</em>
						      		(<a href="#/prestador/{{servico.prestador.email}}">Seja o primeiro a avaliar</a>)
						      	</span>
						    </div>
						    <div class="form-group">
						      	<label class="col-sm-2 control-label">Endere&ccedil;o:</label>
						      	{{servico.prestador.endereco.logradouro}}, 
								{{servico.prestador.endereco.numero}}
								{{servico.prestador.endereco.complemento}},
								{{servico.prestador.endereco.cidade}}, {{servico.prestador.endereco.estado}} -
								{{servico.prestador.endereco.cep}}
						    </div>
							<div class="form-group">
						      	<label class="col-sm-2 control-label">E-mail:</label>
						      	{{servico.prestador.email}}
						    </div>
							<div class="form-group">
						      	<label class="col-sm-2 control-label">Telefone:</label>
						      	{{servico.prestador.telefone}}
						    </div>
						</div>
						<div class="col-md-2">
							<img data-ng-hide="servico.prestador.facebookId" src="img/profile.png" width="80" height="80" alt="{{servico.prestador.nome}}" class="img-thumbnail">
							<img data-ng-show="servico.prestador.facebookId" src="http://graph.facebook.com/{{servico.prestador.facebookId}}/picture?type=square" width="80" height="80" alt="{{servico.prestador.nome}}" class="img-thumbnail">							
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<span class="panel-title pull-left" style="paddidata-ng-top: 7.5px;">
							<strong>Perguntas ao Prestador</strong>
						</span>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<span class="list-group-item">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-sm glyphicon-inbox"></span>
									</div>

									<textarea class="form-control" rows="2" data-ng-show="user.logado"
										style="resize:none" ng-model="pergunta"
										id="pergunta" placeholder="Escreva sua pergunta..."></textarea>
									<textarea class="form-control" rows="1" readonly id="pergunta"
										data-ng-hide="user.logado" data-ng-click="openLogin()"
										placeholder="Necessário efetuar o login para escrever uma pergunta..."></textarea>
									<a href class="input-group-addon" style="text-decoration: none" data-ng-show="user.logado" data-ng-click="post()">
										Enviar Pergunta
									</a>
							    </div>
							    <div data-ng-show="mensagem != '' && !mensagemWarn">
							    	<p class="bg-success">{{mensagem}}</p>
							    </div>
							    <div data-ng-show="mensagem != '' && mensagemWarn">
							    	<p class="bg-warning">{{mensagem}}</p>
							    </div>
							</span>
							<span class="list-group-item"
								data-ng-repeat="post in posts | orderBy:-id">
								<span>
									<div class="row">
										<div class="col-md-11">
											<span class="glyphicon glyphicon-sm glyphicon-inbox"></span>
											<strong>{{post.usuario.nome}}:</strong><br>
											<em>{{post.mensagem}}</em>
										</div>
										<div class="col-md-1">
											<img data-ng-hide="post.usuario.facebookId" src="img/profile.png" width="50" height="50" alt="{{post.usuario.nome}}" class="img-thumbnail">
											<img data-ng-show="post.usuario.facebookId" src="http://graph.facebook.com/{{post.usuario.facebookId}}/picture?type=square" width="50" height="50" alt="{{post.usuario.nome}}" class="img-thumbnail">
										</div>
									</div>
								</span>
								<blockquote data-ng-show="post.resposta">
									<span style="font-size: 10pt;">
										<p>
											<span class="glyphicon glyphicon-sm glyphicon-comment"></span>
											<em>{{post.resposta}}</em>
										</p>
									</span>
								</blockquote>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body" style="padding: 0;" data-ng-show="mapOptions != ''">
						<div ui-map-marker="marker"></div>

						<div id="map_canvas" ui-map="map" ui-options="mapOptions"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>