<div>
	<div class="modal-header">
		<h3>Atualizar serviço!</h3>
	</div>
	<form ng-submit="submit()">
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-5">
					<label>Serviço:</label><br> <input type="text" class="form-control"
						data-ng-model="servico.nome_tipo_servico"
						typeahead="tipo.nome for tipo in tiposServicos | filter:$viewValue | limitTo:8"
						required>
						<br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<label>Descriç&atilde;o:</label><br>
					<textarea ng-model="servico.descricao" rows="5" class="form-control" required></textarea>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<label>Valor:</label><br> <input type="number"  class="form-control"
						ng-model="servico.valor" /><br>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-ng-click="salvar()">Salvar</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
		</div>
	</form>
</div>
