<!-- Pagina principal -->
<div class="container-fluid" style="width: 100%;">
	<div class="row">
		<div class="col-md-3">
			  <input type="text" class="form-control" placeholder="{{labels.endereco}}">
		</div>
		<div class="col-md-3">
			  <input type="text" class="form-control" placeholder="{{labels.endereco}}">
		</div>
		<div class="col-md-3">
			  <input type="text" class="form-control" placeholder="{{labels.endereco}}">
		</div>
		<div class="col-md-3">
			  <button class='btn btn-success' ng-click="buscarPrestadores()"><span class="glyphicon glyphicon-search"></span>
{{labels.buscar}}</button>
		</div>
	</div>
</div>

