<div>
	<div class="modal-header">
		<div class="col-xs-7">
				<h2>Acesso ao SoS!</h2>
		</div>
		<div class="row">
			<div class="col-xs-7">
				<button class="btn btn-block btn-social btn-facebook"
					data-ng-click="logarFace()">
					<i class="fa fa-facebook"></i> Logar com Facebook
				</button>
			</div>
			<div class="col-xs-5">				
			</div>
		</div>
	</div>
	<form ng-submit="submit()">
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-8">
					<label>Email:</label><br> <input type="email"
						class="form-control" ng-model="user.email" required />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-5">
					<label>Senha:</label><br> 
					<input type="password" class="form-control"
						ng-model="user.senha" required />
				</div>
			</div>
		</div>
		<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="logar()">Logar</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
		</div>
	</form>
</div>