<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" data-ng-app="sosWeb" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" data-ng-app="sosWeb" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" data-ng-app="sosWeb" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" data-ng-app="sosWeb" class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta charset="utf-8">
  <title>SoS Web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> <!--Gerar versão customizada -->
  <link rel="stylesheet" href="css/app.css"/>

  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">
</head>
<body data-ng-controller="MainCtrl">
  <!-- Wrap all page content here -->
  <div id="wrap">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-bottom: 1px solid black">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" title="System of Services">
            <img data-ng-src="img/logo.png" alt="System of Services" />
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
			<li class="dropdown" data-ng-show="user.logado">		   
				<h4>					 			
					<span class="dropdown-toggle label label-default" data-toggle="dropdown">Bem vindo,{{user.email}}
						<a href="">	
							<i class="glyphicon glyphicon-user white"></i>				
						</a>		
					</span>		
				</h4> 
				<ul class="dropdown-menu">
					<li><a href="" data-ng-click="editPrest()">Editar Prestador</a></li>
					<li><a href="" data-ng-click="removePrest()">Excluir Conta</a></li>
				</ul>
			</li>
			<li data-ng-show="user.logado"><a href="" data-ng-click="logout()">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            <li data-ng-hide="user.logado"><a href="" data-ng-click="openLogin()">Login <span class="glyphicon glyphicon-log-in"></span></a></li>
            <li data-ng-hide="user.logado"><a href="" data-ng-click="openCadastro()">Cadastre-se <span class="glyphicon glyphicon-user"></span></a></li>
            <li>
              <button class='btn btn-warning navbar-btn' data-ng-click="openAnuncio()">
                <span class="glyphicon glyphicon-bullhorn"></span> Anuncie aqui!
              </button>
            </li>
             <li>&nbsp;&nbsp;</li>
            <li data-ng-show="user.logado">
              <button class='btn btn-info navbar-btn' data-ng-click="openPrestadorAnuncios()">
                <span class="glyphicon glyphicon-folder-close"></span> Ver An&uacute;ncios!
              </button>
            </li>
            
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
    <!-- Begin page content -->
    <div class="center-container bg-one">
      <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <div class="center-row" data-ng-view></div>
    </div>
    <div id="footer">
      <div class="container">
        <img data-ng-src="img/sos.png" alt="System of Services" />
        <span class="text-muted" style="float: right"> 
           v<span app-version></span>
        </span>
      </div>
    </div>
  </div>
  <!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script-->
  <script src="bower_components/angular/angular.min.js"></script>
  <!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script-->
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js"></script-->
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <!--script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script-->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!--script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script--> <!-- Procurar alternativa usando ui-bootstrap.min.js para menu responsivo -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!--script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script-->  <!--Gerar versão customizada -->
  <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script> 
  <script src="bower_components/angular-ui-utils/ui-utils.min.js"></script>  <!--Usar CDN ? -->
  <script src="bower_components/angular-ui-map/ui-map.min.js"></script>  <!--Usar CDN ? -->
  <script src="bower_components/ngstorage/ngStorage.min.js"></script>  <!--Usar CDN ? -->
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&.js&libraries=places"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>